services:
  mysql:
    image: mysql:8.0
    container_name: database
    environment:
      MYSQL_ROOT_PASSWORD: userpassword
      MYSQL_DATABASE: coders_db
      MYSQL_USER: user
      MYSQL_PASSWORD: userpassword
    ports:
      - "3306:3306"
    networks:
      - back_network
    volumes:
      - mysql_data:/var/lib/mysql
    healthcheck:
      test: [ "CMD-SHELL", "mysqladmin ping -h localhost -u root --password=userpassword" ]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s

  backend:
    container_name: backend-SpringBoot
    build:
      context: ./backend
    depends_on:
      - mysql
      - minio
    ports:
      - "8080:8080"
    environment:
      SPRING_DATASOURCE_URL: jdbc:mysql://mysql:3306/coders_db
      SPRING_DATASOURCE_USERNAME: user
      SPRING_DATASOURCE_PASSWORD: userpassword
      MINIO_URL: http://minio:9000
      MINIO_ROOT_USER: AhmadEmad
      MINIO_ROOT_PASSWORD: atyponpassword
      EXECUTION_FILE_PATH: /home/ahmad_3madd/Coders-Collaborative-Code-Editor/code_execution_path
      DOCKER_HOST: unix:///var/run/docker.sock
    volumes:
      - /home/ahmad_3madd/Coders-Collaborative-Code-Editor/code_execution_path:/app/code_storage
      - /var/run/docker.sock:/var/run/docker.sock
    networks:
      - front_network
      - back_network
      - minio-network

  frontend:
    container_name: frontend-React
    build:
      context: ./frontend
    ports:
      - "80:80"
    networks:
      - front_network
      - minio-network
    
  minio:
    image: minio/minio
    container_name: minio
    ports:
      - "9000:9000" 
      - "9001:9001" 
    environment:
      MINIO_ROOT_USER: AhmadEmad
      MINIO_ROOT_PASSWORD: atyponpassword
      MINIO_BUCKET: coders
    command: server /data --console-address ":9001"
    volumes:
      - minio_data:/data
    networks:
      - minio-network
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://52.233.94.254:9000/minio/health/ready" ]
      interval: 5s
      timeout: 3s
      retries: 5

  minio_setup:
    image: minio/mc
    depends_on:
      - minio
    entrypoint: >
      /bin/sh -c "
      mc alias set myminio http://minio:9000 AhmadEmad atyponpassword;
      mc mb myminio/coders || true;
      "
    networks:
      - minio-network

volumes:
  mysql_data:
  minio_data:
  code_storage:

networks:
  front_network:
    driver: bridge

  back_network:
    driver: bridge

  minio-network:
    driver: bridge